<ion-view view-title='home'>
  <ion-content ng-controller="CaptureCtrl">
    <div class="home">
      <img src="img/illu.svg" alt="" class="home__illustration">
      <div class="home__paragraph">
        <p class="home__paragraph_slogan">
          scannez <br> choisissez <br> profitez
        </p>
        <p class="home__paragraph_title">
          pipper
        </p>
      </div>
      <button ng-click="showActionSheet()" class="home__button"></button>
      <img style="width: 0%;" id="pic" src="" style="display: none;">
    </div>
  </ion-content>
</ion-view>
