<ion-view view-title='sons'>
  <ion-content ng-controller="AudioController" class="padding">
    <h1>Sons</h1>
			<!-- <audio class="audio_player">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <img src="img/previous.png" alt="" class="audio_button_previous">
      <img src="img/play.png" alt="" class="audio_button_play">
      <img src="img/next.png" alt="" class="audio_button_next">
      <img src="img/repeat.png" alt="" class="audio_button_loop"> -->
  </ion-content>
</ion-view>
